div.all_groups {
    overflow: auto;
    white-space: nowrap;
}

div.all_groups .single_group {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 34px;
    text-decoration: none;
    /* background-color: #333; */
    height: 125px;
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    padding: 34px;
    text-decoration: none;
    background-image: url("https://bootdey.com/img/Content/avatar/avatar1.png"), url("https://bootdey.com/img/Content/avatar/avatar2.png");
    background-color: #cccccc;
}
div.all_groups .create_group {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 34px;
    text-decoration: none;
    background-color: #333;
    height: 125px;
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    padding: 34px;
    text-decoration: none;
    /* background-image: url("https://bootdey.com/img/Content/avatar/avatar1.png"), url("https://bootdey.com/img/Content/avatar/avatar2.png");
    background-color: #cccccc; */
}

div.all_groups .single_group:hover {
    /* background-color: #777; */
    /* background: url("https://bootdey.com/img/Content/avatar/avatar2.png") no-repeat fixed center; */
}

img.single-story-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all_groups .story-author {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    right: 0px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
}

.story-author img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 4px;
}

.all_groups .story-author p {
    color: #fff;
    width: 100%;
    margin: 5px 0px 0px 0px;
    font-weight: 600;
    font-size: 12px;
}

.create-story-author p {
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
}